/* global.css */

@font-face {
  font-family: Asap;
  src: url('./src/assets/fonts/Asap/static/Asap-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Recoleta;
  src: url('./src/assets/fonts/recoleta/Recoleta-Regular.woff2') format('woff2'),
       url('./src/assets/fonts/recoleta/Recoleta-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #edded4;
  font-family: Asap, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Recoleta, serif;
}

form h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
}

input::placeholder {
  font-family: Asap, sans-serif;
  font-size: 1.25rem;
  color: #a6a6a6;
}

button {
  font-family: Asap, sans-serif;
  font-size: 25px;
  color: #a6a6a6;
}

input, button {
  font-family: 'Asap Regular', sans-serif;
  font-size: 1rem;
  color: #303030;
  border: none;
  border-radius: 10px;
  outline: 0;
}

input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e7e7e7;
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-indigo: #2c3e50;
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --text-color: #303030;
  --background-color: #ADD8FB;
  --secondary-background-color: #FAF8ED;
  --spring-bud-color: #DFE287;
  --orchid-flush-color: #E18AD1;

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

/* Add other global styles as needed */
