body, html {
    margin: 0;
    padding: 0;
    background-color: #EDDED4; /* light cream background */
    font-family: 'Asap Regular', sans-serif; /* default text font */
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Recoleta Black', serif; /* headings font */
  }
  
/* Style for input placeholders */
input::placeholder {
    font-family: 'Asap Regular', sans-serif; /* default text font */
    font-size: 1.25rem; /* default font size for placeholder */
    color: #A6A6A6; /* placeholder text color */
}

button {
    font-family: 'Asap ExtraBold', sans-serif; /* default text font */
    font-size: 25px; /* default font size for placeholder */
    color: #A6A6A6; 
}